
<p> Welcome to the GYM
  <br>
 Ready to acheive you new year goals?
 <br>
 We have an exclusive 50% off peak membership through Janurary! </p>



<div class="container">
  <nav class="white">
  <nav class="items">

   <img src="/body_pump.jpg" width="300px" height="200px">
  </nav>
  <nav class="items">

   <img src="/boxing.jpg" width="300px" height="200px">
  </nav>


</nav>
</div>
