<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

  <header>
    <ul>
      <li> Classes </li>
      <li> Customers</li>
    </ul>
  </header>
<%= yield %>

  </body>
</html>
