<h1> Our lovely instructors </h1>
<div class="container">





<% for instructor in @instructors %>


<nav class="items">
  <figure>


<p> <img src="<%=instructor.image%>" alt="<%=instructor.name%>" width="250px" height="200px"> </p>
<figcaption> <%= instructor.name%> <br> <%= instructor.qualifications %> </figcaption>
  </figure>
</nav>
<% end %>

</div>
