<h1> Our lovely instructors </h1>
<div class="container">





<% for instructor in @instructors %>


<nav class="items">
  <figure>


<p> <img src="<%=instructor.image%>" alt="<%=instructor.name%>" width="250px" height="200px"> </p>
<figcaption><p> <%= instructor.name%> <p></figcaption>
  </figure>
</nav>
<% end %>

</div>

<p> You can book personal training with any of our instructors by calling: xx9900000 </p>
