<h1> A list of all of our members </h1>

<table class="container">
  <tr class="item">


    <th>Name</th>
    <th>Membership</th>
    <th>Status</th>
  </tr>
  <% for customer in @customers %>
  <tr>
    <td><a href="/customers/<%= customer.id %>"><%= customer.pretty_name %></a></td>
    <td><%= customer.membership %></td>
    <td><%= customer.status %></td>
  </tr>
  <% end %>
</table>


<form action="/customers/new">
         <button class="button" type="submit">Add customer</button>
      </form>
