<h1> A list of all of our members </h1>
<div class="container">
  <nav class="items">



        <img src="../gym_members.jpg" alt="gym class" width="350px" height="250px">
        </nav>
<nav class="items">
<table >
  <form  action="/customers/new">
           <button class="button" type="submit">Add customer</button>
        </form>
  <tr >


    <th>Name</th>
    <th>Membership</th>
    <th>Status</th>
  </tr>
  <% for customer in @customers %>
  <tr>
    <td><a href="/customers/<%= customer.id %>"><%= customer.pretty_name %></a></td>
    <td><%= customer.membership %></td>
    <td><%= customer.status %></td>
  </tr>
  <% end %>
</table>
</nav>

</div>
