<h1> This is the edit page</h1>


 <form class="form" action="/customers/<%=@customer.id%>" method="post" >
  <label for="first_name"> Name: </label>
  <input id="first_name" type="text" name="first_name" value= <%=@customer.first_name %>>

   <label for="last_name"> Name: </label>
   <input id="last_name" type="text" name="last_name" value= <%=@customer.last_name %>>

 <label for="membership">Membership:</label>
 <select name="membership" >
   <option value="off-peak">Off-peak</option>
   <option value="peak">Peak</option>
 </select>


 <label for="status">Status:</label>
 <select name="status" >
   <option value="deactive">Active </option>
   <option value="active">Deactive</option>
 </select>
 <input class="button" type="submit" value="Submit">

</form>
